<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Empresas</h1>
    </div>

    <div class="ui-g-12">
      <label style="display: block;">CNPJ</label>
      <p-inputMask mask="99.999.999/9999-99" style="width: 120px;"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Razão social</label>
      <input type="text" pInputText />
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisa"></button>
    </div>

  </div>
  <div class="ui-g">
      <div class="ui-g-12">
      <p-table [value]="empresas" [paginator]="true" [rows]="3" [showCurrentPageReport]="true" [responsive]="true">
          <ng-template pTemplate="header">
              <tr>
                  <th class="col-cnpj">CNPJ</th>
                  <th>Razão social</th>
                  <th>Nome fantasia</th>
                  <th class="col-ie">IE</th>
                  <th class="col-acoes"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-empresa>
              <tr>
                  <td>{{empresa.cnpj}}</td>
                  <td>{{empresa.razaoSocial}}</td>
                  <td>{{empresa.nomeFantasia}}</td>
                  <td>{{empresa.inscricaoEstadual}}</td>
                  <td class="col-acoes">
                    <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                    <button pButton icon="pi pi-trash" style="margin-left: 2px;" pTooltip="Excluir" tooltipPosition="top"></button>
                </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            Não existe registros
          </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12">
      <a pButton label="Nova empresa"></a>
    </div>

  </div>
</div>
